/* 1280 */
@media (max-width: 1280px) {
    .sub {
        height: 480px;
    }
    .sub .inner .title {
        width: calc(100% - 32px);
        left: 32px;
        bottom: -33px
    }
    .sub .inner .simbol {
        top: 105px;
    }
    .sub .inner .simbol.on {
        transform: translateX(calc(-200% + 50px)) rotate(360deg);
    }



    .content {
        margin-top: 655px;
    }
    .content > .inner {
        padding: 0 3%;
    }
    .about01 {
        padding: 80px 0 60px 0;
    }
    .about01 .detail .detailImg {
        width: 516px;
        margin: 45px auto 45px;
        padding: 64px 0;
    }
    .about01 .detail .detailImg strong {
        font-size: 35px;
    }



    .about02 {
        padding: 80px 0 60px 0;
    }
    .about02 .detail .img {
        width: 474px;
    }
    .about02 .detail .text .detailText {
        width: 215px;
    }
    .about02 .detail .text .text03 div p br {
        display: none;
    }



    .program01,
    .program02,
    .program03,
    .program04,
    .program05 {
        padding: 0 3%;
    }



    .program03 > div .detail ul li a,
    .program03 > div .detail ul li:last-child::after {
        width: calc(100% - 60px);
    }
    .program03 > div .detail ul li p {
        padding: 0 25px 0 60px;
    }
    .program03 > div .detail ul li.on p {
        padding: 0 25px 32px 60px;
    }



    .program05 > .p02 .recommendSlide a > .slideInner figure {
        min-width: 90px;
    }
}

/* 1024 */
@media (max-width: 1024px) {
    .sub {
        height: 394px;
    }
    .sub .inner .title {
        width: calc(100% - 32px);
        left: 32px;
        bottom: -33px
    }
    .sub .inner .simbol {
        top: 57px;
    }
    .sub .inner .simbol.on {
        transform: translateX(calc(-150% + 50px)) rotate(360deg);
    }
    .sub .inner .backLine {
        height: 64px;
        bottom: -64px;
    }



    .about01 .detail {
        font-size: 14px;
    }
    .about01 .detail .detailImg {
        width: 475px;
        margin: 45px auto 45px;
        padding: 55px 0 35px;
    }



    .about02 {
        display: flex;
        justify-content: space-between;
    }
    .about02 .title {
        flex: 1;
    }
    .about02 .detail {
        flex: 2;
        padding: 5px 0 60px;
        margin-top: 0;
    }
    .about02 .detail .img {
        width: 300px;
    }
    .about02 .detail .text  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }
    .about02 .detail .text .detailText {
        position: unset;
        width: fit-content;
        margin-top: 55px;
        text-align: left;
    }
    .about02 .detail .text .detailText h4 {
        font-size: 16px;
        margin: 0 0 18px 0;
    }
    .about02 .detail .text .detailText div h5 {
        font-size: 12px;
    }
    .about02 .detail .text .detailText div p {
        font-size: 12px;
    }



    .content {
        margin-top: 553px;
    }



    .program01 > div {
        width: 92%;
    }
    .program01 > div .title h3 {
        font-size: clamp(16px, 4.25vw, 26px);
    }
    .program01 > div .title a {
        font-size: 12px;
    }
    .program01 > .p01 .detail > dl dt {
        font-size: 15px;
    }
    .program01 > .p01 .detail > dl dd {
        font-size: 12px;
    }
    .program01 > .p03 .detail > ul {
        grid-template-columns: repeat(6, 1fr);
    }
    .program01 > .p03 .detail > ul li:first-child {
        grid-column: 1/3;
    }
    .program01 > .p03 .detail > ul li:nth-child(2) {
        grid-column: 3/5;
    }
    .program01 > .p03 .detail > ul li:nth-child(3) {
        grid-column: 5/7;
    }
    .program01 > .p03 .detail > ul li:nth-child(4) {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .program01 > .p03 .detail > ul li:last-child {
        grid-column: 4/6;
        grid-row: 2/3;
    }
    .program01 > .p04 .detail > ul li p {
        font-size: 15px;
    }
    .program01 > .p04 .detail > ul li p span {
        font-size: 12px;
    }
    .program01 > .p04 .detail > ul li .info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    .program01 > .p04 .detail > ul li .info dl {
        font-size: 12px;
    }



    .program02 > div {
        width: 92%;
    }
    .program02 > div .title h3 {
        font-size: clamp(16px, 4.25vw, 26px);
    }
    .program02 > .p01 .detail > ul.default > li .thum > ul > li.text {
        padding: 10px 10px 0 0;
        gap: 10px;
    }
    .program02 > .p01 .detail > ul.default > li .thum > ul > li.text > dl > dt {
        font-size: 12px;
    }
    .program02 > .p01 .detail > ul.default > li .thum > ul > li.text > dl::before {
        top: 2px;
    }
    .program02 > .p01 .detail > ul.default > li .thum > ul > li.text > dl > dd {
        font-size: 10.5px;
    }



    .program03 > div {
        width: 92%;
    }
    .program03 > div .title h3 {
        font-size: clamp(16px, 4.25vw, 26px);
    }
    .program03 > div .detail ul li span,
    .program03 > div .detail ul li a {
        padding: 14px 0;
        font-size: 12px;
    }
    .program03 > div .detail ul li a::after {
        width: 10px;
        height: 6px;
        margin-top: -3px;
    }
    .program03 > div .detail ul li span {
        width: 22px;
    }
    .program03 > div .detail ul li p {
        font-size: 12px;
    }
    .program03 > div .detail ul li.on span {
        padding: 30px 0 14px 0;
    }
    .program03 > div .detail ul li.on a {
        padding: 30px 25px 14px 0;
    }
    .program03 > div .detail ul li.on a::after {
        background-position: 0 -15px;
    }



    .program04 > div {
        width: 92%;
    }
    .program04 > div .title h3 {
        font-size: clamp(16px, 4.25vw, 26px);
    }
    .program04 > div .detail h4 {
        font-size: 24px;
    }
    .program04 > div .detail p {
        font-size: 12px;
    }
    .program04 > div .detail ul li {
        line-height: 1.5;
    }



    .btnArea .inner .btn {
        font-size: 12px;
        padding: 5px 0;
    }



    .program05 > .p02 .recommendSlide a > .slideInner .text h4 {
        font-size: 13px;
        padding-bottom: 20px;
    }
    .program05 > .p02 .recommendSlide a > .slideInner .text p {
        font-size: 10.5px;
        word-break: keep-all;
    }
}

/* 768 */
@media (max-width: 768px) {
    .sub {
        top: 60px;
        height: 267px;
    }
    .sub .inner .title {
        width: calc(100% - 32px);
        left: 16px;
        bottom: -14px
    }
    .sub .inner .simbol {
        top: 77px;
        width: 97px;
        height: 112px;
    }
    .sub .inner .simbol.on {
        transform: translateX(-50%) rotate(360deg);
    }
    .sub .inner .backLine {
        height: 40px;
        bottom: -40px;
    }



    .content {
        margin-top: 367px;
        padding: 0;
    }
    .content .inner article {
        padding: 35px 4.5% 35px;
    }



    .about01 {
        flex-direction: column        
    }
    .about01 .title h3 {
        font-size: 21px;
    }
    .about01 .detail {
        font-size: 12px;
        margin-top: 30px;
    }
    .about01 .detail .detailImg {
        max-width: 262px;
        margin: 32px auto 25px;
        padding: 32px 0;
        background-size: 110%;
    }
    .about01 .detail .detailImg strong {
        font-size: 24px;
    }



    .about02 {
        flex-direction: column;
        padding-bottom: 0;
    }
    .about02 .title h3 {
        font-size: 21px;
    }
    .about02 .detail {
        margin-top: 30px;
    }
    .about02 .detail .img {
        width: fit-content;
        max-width: 580px;
    }
    .about02 .detail .text {
        grid-template-columns: repeat(1, 1fr);
    }
    .about02 .detail .text br {
        display: none;
    }
    .about02 .detail .text .detailText {
        margin-top: 30px;
    }
    .about02 .detail .text .detailText div+div {
        margin-top: 20px;
    }



    .program01 > div {
        padding: 35px 0;
        display: block;
    }
    .program01 > div .detail {
        margin-top: 35px;
        column-gap: 20px;
    }
    .program01 > .p01 .detail > dl:first-child,
    .program01 > .p01 .detail > dl:last-child {
        padding: 0;
    }
    .program01 > .p01 .detail > dl:last-child::after {
        display: none;
    }
    .program01 > div .title a {
        width: fit-content;
        left: unset;
        right: 50px;
        top: 50%;
        bottom: unset;
        transform: translateY(-50%);
    }
    .program01 > div .title a::before,
    .program01 > div .title a::after {
        right: -50px;
    }
    .program01 > div .title a::after {
        width: 25px;
    }
    .program01 > .p03 .detail > ul {
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
    .program01 > .p03 .detail > ul li:first-child,
    .program01 > .p03 .detail > ul li:nth-child(2),
    .program01 > .p03 .detail > ul li:nth-child(3),
    .program01 > .p03 .detail > ul li:nth-child(4),
    .program01 > .p03 .detail > ul li:last-child {
        grid-row: unset;
        grid-column: unset;
    }
    .program01 > .p03 .detail > ul li p {
        font-size: 12px;
    }
    .program01 > .p03 .detail > ul li:not(:first-of-type) p::before {
        display: none;
    }
    .program01 > .p03 .detail > ul li:not(:last-of-type) p::after {
        display: block;
    }
    .program01 > .p03 .detail > ul li:nth-child(4) span {
        width: 210px;
        margin-left: 0;
        padding-left: 55px;
        font-size: 10.5px;
        text-align: left;
    }
    .program01 > .p03 .detail > ul li:nth-child(4) span::before {
        top: 0;
        left: 0;
        width: 38px;
        height: 50px;
        background-color: transparent;
        border-left: 1px solid #3db283;
        border-bottom: 1px solid #3db283;
    }
    .program01 > .p03 .detail > ul li:nth-child(4) span::after {
        top: 46px;
        left: 37px;
    }
    .program01 > .p04 .detail > ul li p {
        min-width: 100px;
    }
    .program01 > .p04 .detail > ul li .info {
        grid-template-columns: repeat(1, 1fr);
    }



    .program02 > div {
        padding: 35px 0;
        display: block;
    }
    .program02 > div .detail {
        margin-top: 35px;
        column-gap: 20px;
    }
    .program02 > .p01 .detail > ul.default > li > strong {
        display: none;
    }



    .program03 > div {
        padding: 35px 0 0;
        display: block;
        border-bottom: none;
    }
    .program03 > div .detail {
        margin-top: 35px;
        column-gap: 20px;
    }
    .program03 > div .detail ul li span {
        display: none;
    
    }
    .program03 > div .detail ul li a {
        padding: 17px 25px 17px 0;
    }
    .program03 > div .detail ul li a,
    .program03 > div .detail ul li:last-child::after {
        width: 100%;
    }
    .program03 > div .detail ul li p {
        padding: 0 25px 0 0;
    }
    .program03 > div .detail ul li.on a {
        padding: 17px 25px 17px 0;
    }
    .program03 > div .detail ul li.on p {
        padding: 0 25px 32px 0;
    }



    .program04 > div {
        padding: 35px 0 70px 0;
        display: block;
    }
    .program04 > div .detail {
        margin-top: 35px;
        column-gap: 20px;
        padding-right: 0;
    }
    .program04 > div .detail h4 {
        font-size: 21px;
        margin: 22px 0 18px 0;
    }
    .program04 > div .detail ul {
        margin: 17px 0 0 0;
    }



    .btnArea .inner {
        padding: 35px 0 55px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .btnArea .inner .btn {
        width: calc(70% - 30px);
    }



    .program05 > .p02 .recommendSlide a > .slideInner {
        flex-direction: column;
    }
    .program05 > .p02 .recommendSlide a > .slideInner figure {
        width: 100%;
        text-align: center;
    }
    .program05 > .p02 .recommendSlide a > .slideInner figure img {
        display: inline-block;
    }
    .program05 > .p02 .recommendSlide a > .slideInner .text {
        flex: 1;
        width: 100%;
        text-align: center;
    }
    .program05 > .p02 .recommendSlide a > .slideInner .text p {
        display: none;
    }
}

@media (max-width: 640px) {
    .program02 > .p01 .detail > ul.default {
        display: none;
    }
    .program02 > .p01 .detail > ul.mobile {
        display: block;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .pagination {
        width: fit-content;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .pagination .swiper-pagination-bullet {
        width: 9px;
        height: 10px;
        background: url("../img/sub_program/ico_page.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center bottom -1px;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .pagination .swiper-pagination-bullet-active {
        background-position: 0 -19px;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .slideNav {
        position: absolute;
        width: 16px;
        height: 30px;
        cursor: pointer;
        top: 50%;
        margin-top: -15px;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-next {
        right: calc(50% - 100px);
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-prev {
        left: calc(50% - 100px);
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-next::before,
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-next::after,
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-prev::before,
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-prev::after {
        position: absolute;
        display: block;
        content: "";
        width: 1px;
        height: 20px;
        border-left: 1px solid #666;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-next::before {
        transform: rotate(-45deg);
        top: -2px;
        left: 7px;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-next::after {
        transform: rotate(45deg);
        top: 12px;
        left: 7px;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-prev::before {
        transform: rotate(45deg);
        top: -2px;
        left: 7px;
    }
    .program02 > .p01 .detail > ul.mobile li .swiper .slideControl .button-prev::after {
        transform: rotate(-45deg);
        top: 12px;
        left: 7px;
    }
    .program02 > .p01 .detail > ul.mobile li .text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0;
        margin-bottom: 30px;
        gap: 10px;
    }
    .program02 > .p01 .detail > ul.mobile li .text dl {
        position: relative;
        padding-left: 30px;
        letter-spacing: -0.5px
    }
    .program02 > .p01 .detail > ul.mobile li .text dl::before {
        position: absolute;
        display: block;
        content: "";
        top: 2px;
        left: 0;
        width: 17px;
        height: 17px;
        background-image: url("../img/sub_program/ico_blet01.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .program02 > .p01 .detail > ul.mobile li .text dl dt {
        font-size: 12px;
        font-weight: 700;
        word-break: keep-all;
    }
    .program02 > .p01 .detail > ul.mobile li .text dl dd {
        font-size: 10.5px;
        margin-top: 10px;
        word-break: keep-all;
    }



    .program05 .slideControl {
        display: none;
    }
}

@media (max-width: 487px) {
    .about01 .detail .detailInfo::after {
        height: 102px;
        top: 59px;
    }
    .program01 > .p03 .detail > ul.default li p {
        margin-top: clamp(-17px, -4.5vw, -22px);
    }
}

@media (max-width: 362px) {
    .about01 .detail .detailInfo::after {
        height: 118px;
        top: 67px;
    }
}