/* 1280 */
@media (max-width: 1280px) {
    .sub {
        height: 480px;
    }
    .sub .inner .title {
        width: calc(100% - 32px);
        left: 32px;
        bottom: -33px
    }
    .sub .inner .simbol {
        top: 105px;
    }
    .sub .inner .simbol.on {
        transform: translateX(calc(-200% + 50px)) rotate(360deg);
    }



    .content {
        margin-top: 655px;
    }
    .content .inner {
        padding: 0 3%;
    }
    .about01 {
        padding: 80px 0 60px 0;
    }
    .about01 .detail .detailImg {
        width: 516px;
        margin: 45px auto 45px;
        padding: 64px 0;
    }
    .about01 .detail .detailImg strong {
        font-size: 35px;
    }



    .about02 {
        padding: 80px 0 60px 0;
    }
    .about02 .detail .img {
        width: 474px;
    }
    .about02 .detail .text .detailText {
        width: 215px;
    }
    .about02 .detail .text .text03 div p br {
        display: none;
    }



    .program01 {
        padding: 0 3%;
    }
}

/* 1024 */
@media (max-width: 1024px) {
    .sub {
        height: 394px;
    }
    .sub .inner .title {
        width: calc(100% - 32px);
        left: 32px;
        bottom: -33px
    }
    .sub .inner .simbol {
        top: 57px;
    }
    .sub .inner .simbol.on {
        transform: translateX(calc(-150% + 50px)) rotate(360deg);
    }
    .sub .inner .backLine {
        height: 64px;
        bottom: -64px;
    }



    .about01 .detail {
        font-size: 14px;
    }
    .about01 .detail .detailImg {
        width: 475px;
        margin: 45px auto 45px;
        padding: 55px 0 35px;
    }



    .about02 {
        display: flex;
        justify-content: space-between;
    }
    .about02 .title {
        flex: 1;
    }
    .about02 .detail {
        flex: 2;
        padding: 5px 0 60px;
        margin-top: 0;
    }
    .about02 .detail .img {
        width: 300px;
    }
    .about02 .detail .text  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }
    .about02 .detail .text .detailText {
        position: unset;
        width: fit-content;
        margin-top: 55px;
        text-align: left;
    }
    .about02 .detail .text .detailText h4 {
        font-size: 16px;
        margin: 0 0 18px 0;
    }
    .about02 .detail .text .detailText div h5 {
        font-size: 12px;
    }
    .about02 .detail .text .detailText div p {
        font-size: 12px;
    }



    .content {
        margin-top: 553px;
    }



    .program01 > div {
        width: 92%;
    }
    .program01 > div .title h3 {
        font-size: clamp(16px, 4.25vw, 26px);
    }
    .program01 > .p01 .detail > dl dt {
        font-size: 15px;
    }
    .program01 > .p01 .detail > dl dd {
        font-size: 12px;
    }
}

/* 768 */
@media (max-width: 768px) {
    .sub {
        top: 60px;
        height: 267px;
    }
    .sub .inner .title {
        width: calc(100% - 32px);
        left: 16px;
        bottom: -14px
    }
    .sub .inner .simbol {
        top: 77px;
        width: 97px;
        height: 112px;
    }
    .sub .inner .simbol.on {
        transform: translateX(-50%) rotate(360deg);
    }
    .sub .inner .backLine {
        height: 40px;
        bottom: -40px;
    }



    .content {
        margin-top: 367px;
        padding: 0;
    }
    .content .inner article {
        padding: 35px 4.5% 35px;
    }



    .about01 {
        flex-direction: column        
    }
    .about01 .title h3 {
        font-size: 21px;
    }
    .about01 .detail {
        font-size: 12px;
        margin-top: 30px;
    }
    .about01 .detail .detailImg {
        max-width: 262px;
        margin: 32px auto 25px;
        padding: 32px 0;
        background-size: 110%;
    }
    .about01 .detail .detailImg strong {
        font-size: 24px;
    }



    .about02 {
        flex-direction: column;
        padding-bottom: 0;
    }
    .about02 .title h3 {
        font-size: 21px;
    }
    .about02 .detail {
        margin-top: 30px;
    }
    .about02 .detail .img {
        width: fit-content;
        max-width: 580px;
    }
    .about02 .detail .text {
        grid-template-columns: repeat(1, 1fr);
    }
    .about02 .detail .text br {
        display: none;
    }
    .about02 .detail .text .detailText {
        margin-top: 30px;
    }
    .about02 .detail .text .detailText div+div {
        margin-top: 20px;
    }
}

@media (max-width: 487px) {
    .about01 .detail .detailInfo::after {
        height: 102px;
        top: 59px;
    }
}

@media (max-width: 362px) {
    .about01 .detail .detailInfo::after {
        height: 118px;
        top: 67px;
    }
}